.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  background-color: #1e1e30;
  height: 80px;
  color: white;
  width: 1440px;
}

span {
  color: cornflowerblue;
}
.header-links {
  display: flex;
  width: 100px;
  gap: 20px;
}
